<footer class="py-4 bg-dark">
  <!-- <div id="footer">
            <div class="lienhe">
                <h3>Trụ sở chính </h3>
                <ul>

                    <li>Tầng 4 Tòa nhà 123, 123 Võ Văn Tần, phường 6, quận 3, Tp. HCM  </li>
                    <li>Phone: 09123123123123</li>
                    <li>Email: anhthanhnien@gmail.com</li>
                </ul>
            </div>
            <div class="chinhsach">
                <h3> CÁC TRANG LIÊN KẾT</h3>
                <ul>

                    <li><a href="#">Thời Trang</a></li>
                    <li><a href="#">Đẹp </a></li>
                    <li><a href="#">Giải trí</a></li>
                    <li><a href="#">Sống </a></li>
                    <li><a href="#">E-Magazine</a></li>
                </ul>
            </div>
            <div class="lienket">
                <h3>Liên Hệ </h3>
                <ul>

                    <li>Trách nhiệm quản lý nội dung : </li>
					<li>Ứng Ngọc Sơn </li>

                </ul>
            </div>
        </div>

    <script type="text/javascript" src="..\scripts\script.js">

    </script> -->
  <div class="container">
    <p class="m-0 text-center text-white"> © BRINGING YOU THE COMFORT BY SON © 2020 </p>
  </div>
</footer>
