<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src=" https://saigosport.com/wp-content/uploads/2019/03/slide7-1024x636.jpg" alt="" width="300" height="300" >
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://citipos.vn/dulieu/uploads/2017/10/kinh-doanh-do-the-thao-thanh-cong-2.jpg" alt="" width="300" height="300">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.pinimg.com/originals/d1/83/19/d18319212124c04aa1ff398310bd7f42.jpg" alt="" width="300" height="300">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://bytuong.com/wp-content/uploads/2019/01/mo-hinh-ke-hoach-kinh-doanh-quan-ao-giay-the-thao-bytuong-com.jpg" alt="" width="300" height="300">
    </div>
  </div>
</div>
